<a class="question-link no-formatt" href="<%= field_question_path(field_id: field.name, id: question.url) %>">
  <div class="question-link-title">
	  <%= question.title %>
  </div>
  <div class="question-partial">
	<%= question.content %>
  </div>
</a>