<% provide(:title, "Forgot password") %>
<div class="page-title">Forgot password</div>

  <div>
	<%= form_for(:password_reset, url: password_resets_path) do |f| %>
		<%= f.label :email %>
		<%= f.email_field :email %>

		<%= f.submit "Submit", class: "btn" %>
	<% end %>
  </div>