<% provide(:title, 'All Users') %>
<div class="page-title">All Users:</div>
<ul class="link-list">
<% @users.each do |user| %>
	<li class="link-listitem">
	  <% if user.avatar.url.nil? %>
	  <%= image_tag image_url('default_avatar.png'), class:"medium-avatar" %>
	  <% else %>
	  <%= image_tag image_url(user.avatar), class: "medium-avatar"%>
	  <% end %>
	  <%= link_to user.name, user_path(user.name), class: "no-formatt blue-link" %>
	</li>
<% end %>
</ul>