<% provide :title, @post.title %>
<table>
  <thead>
  <tr>
	<th colspan="2"><%= @post.title %></th>
  </tr>
  </thead>

  <tbody>
  <% @replies.each do |reply|%>
  <tr>
	<td><%= reply.content %></td>
  </tr>
  <% end %>
  </tbody>
</table>