//$accent-color: cornflowerblue ;

/* orange scheme */
//$accent-color: #ffa841;
//$accesnt-color-light: #ffda60;
//$accent-color-border:  #ffa841;

/* green scheme */
/*
$accent-color: #83e897;
$accent-color-light:#bbe8c8;
$accent-color-border: #0ea14c;
$active:  cornflowerblue;
//$accent2-color: ;

/* dark scheme */
$accent-color: #2A2A2A;
$accent-color-light:#DADADA;
$accent-color-border: #FAFAFA;
$active:  cornflowerblue;

$page-width: 75%;
$question-grey: #F1F1F1;
@font-face {
  font-family: "ArchivoNarrow - Regular";
  src: font_url('ArchivoNarrow-Regular.otf') format("truetype");
}

@font-face {
  font-family: "Swanse - Regular";
  src: font_url('SWANSE__.TTF') format("truetype");
}

@font-face {
  font-family: "Unna - Bold Italic";
  src: font_url('Unna-BoldItalic.otf') format("truetype");
}

@font-face {
  font-family: "Unna - Italic";
  src: font_url('Unna-Italic.otf') format("truetype");
}

*{
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
}

body{
  background-color: #F7F7F7;
  margin: 0 auto;
  background: image_url("diamond_upholstery") repeat;
}

#bar{
  background-color: $accent-color;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* for all ul in topbar */

#topbar{
  margin: 0 auto;
  background-color: $accent-color;
  font-weight: 900;
  z-index: 9998;
  width: $page-width ;
  overflow: hidden;
  font-size: 12px;

  a{
    display: block;
    height: auto;
    padding: 10px;
    text-decoration: none;
    color:  #ffffff;
  }


  .logo{
    font-family: Courier;
    float: left;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: rgba(0,0,0,0);
    height: auto;
    background-image: image_url("logo");
    background-position: center;
    background-size: 140px;
    background-repeat: no-repeat;
  }


  .topbar-list{
    list-style: none;
    float: right;
    border-bottom-color: #2E2F30 ;

    .topbar-listitem{
      float: left;
      padding: 10px;
      width: auto;

      &:hover{
        border-bottom: 4px white solid;
      }

      &:hover .account-list{
        visibility: visible;
        opacity: 1;
      }

      .account-list {
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: white;
        font-weight: 500;
        z-index: 9999;
        transition: opacity 0.5s;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
        width: auto;
        min-width: 10%;
        list-style: none;
        .account-listitem{
          transition: background-color 0.1s, color 0.1s;
          &:hover {
            background-color: #666666;
            a {
              color: white;
            }
          }

          form{
            input{
              width: 95%;
            }
          }
        }

        #topbar-login{
          &:hover{
            background-color: white;
          }
        }

        a{
          color: #2E2F30;
          width: auto;
        }

      }
    }
  }


}

.footer-wrapper {
  margin: 10px auto;
  width: $page-width;
  .footer {
    padding: 5px 0px;
    color: #2E2F30;
    margin-top: 20px;
    border-top: 2px #bbb solid;
  }
}

.container{
  background-color: #ffffff;
  height: auto;
  min-height: 720px;
  width: 75%;
  padding: 40px;
  margin: 10px auto;
  align-content: center;
  overflow: hidden;
  border-right: rgba(128, 128, 128, 0.23) 1px solid;
  float: left;


  .page-title{
    font-size: 48px;
    color: #666666;
    padding: 20px;
    margin: 10px;
  }

  form{

    input{
      display: block;
      margin: 5px;
    }
  }

}

.topbar-login{
  padding: 4px;
  &:hover{
    background-color: white;
  }
  input{
    display: block;
    margin: 5px;
  }
}

.home-list{
  list-style: none;
  display: inline;

  li{
    margin: 20px 0px
  }
  .home-link{
  }
}
/* questions */
.question-container{
  height: 50%;
  margin: 20px;
  .votes-container{
    width: 20%;
    height: inherit;
    display: inline-block;

    .question-votes{
      margin: 30px auto;
      margin-left: 15px;
    }
  }
  .question-wrapper{
    height: inherit;
    display: inline-block;
    width: 60%;
    .question-title{
      font-size: 250%;
      font-weight: 900;
      font-family: "Unna - Bold Italic";
    }

    .question-content{
      background-color: $question-grey;
      padding: 5px;
      font-family: "Unna - Bold Italic";
    }
  }
}

.no-formatt{
  text-decoration: none;
  color: initial;
  &:visited{
  }
}

.no-formatt-underline{
  text-decoration: none;
  color: inherit;
  &:visited{

  }
  &:hover{
    text-decoration: underline;
  }
}

.blue-link{
  color: cornflowerblue;
  &:visited{
    color: cornflowerblue;
  }

  &:hover{
    text-decoration: underline;
  }
}



.grey-link{
  color: #CCCCCC;
  &:visited{
    color: #CCCCCC;
  }

  &:hover{
    text-decoration: underline;
  }
}

.dark-grey-link{
  color: #777777;
  &:visited{
    color: #777777;
  }

  &:hover{
    text-decoration: underline;
  }
}

.field-wrapper{
  margin-bottom:40px ;
}

.question-link{
  display: block;
  text-decoration: none;
  background-color: $accent-color-light;
  border: 1px solid $accent-color-border;
  padding: 20px;
  margin: 40px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  &:visited{
    color: inherit;
  }

  &:hover{
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.12), 0px 1px 16px rgba(0, 0, 0, 0.24);
  }

  .question-link-title{
    font-family: "Unna - Bold Italic";
    width: auto;
    padding: 10px 0px;
    font-size: 24px;
    &:hover{
      text-decoration: underline;
    }
  }

  .question-partial{
    font-family: "Unna - Bold Italic";
    background-color: ivory;
    padding: 10px;
  }
}

.small-question-link{
  border: #CCCCCC dotted 1px;
  padding: 1px;
  margin: 10px 0px;
  overflow: hidden;
  .small-question-votes{
    float: left;
    width: auto;
    margin-left: 30px;
  }

  .small-question-wrapper{
    float: right;
    width: 80%;
    .small-question-link-title{
      color: white;
      font-weight: 900;
      font-size: 110%;
      background-color: $accent-color-light;
      padding: 10px;
      overflow: hidden;
    }

    .small-question-content{
      padding: 10px;
    }

    .small-question-date{
      overflow: hidden;
    }
  }
}

.question-votes{
  margin: 30px auto;
  margin-left: 15px;
}
/* all buttons */


.btn{
  border: none;
  border-color: #BBBBBB;
  padding: 10px 20px;
  background-color: $accent-color;
  color: white;
  font-weight: 900;
  border-radius: 1px ;
  transition: box-shadow 0.5s;
  margin: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);

}

.btn-primary{
  border-color: #BBBBBB;
  padding: 2px 4px;
  background-color: $accent-color;
  color: white;
  font-weight: 900;
  border-radius: 1px ;
}

.btn-big{
  border-color: #BBBBBB;
  padding: 6px 12px;
  background-color: $accent-color;
  color: white;
  font-weight: 900;
  border-radius: 1px ;
  border-radius: 3px;
}

.answer-btn{
  border-color: #BBBBBB;
  padding: 2px 4px;
  background-color: $accent-color;
  color: white;
  font-weight: 900;
  border-radius: 1px ;
  margin: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-grey{
  border: 1px solid #dddddd;
  padding: 5px 10px;
  background-color: #f2f2f2;
  color: #BBBBBB;
  font-weight: 900;
  border-radius: 1px ;
  transition: box-shadow 0.5s;
  margin: 10px;
  border-radius: 3px;
  //box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-grey-small{
  border: 1px solid #6f6f6f;
  padding: 1px 5px;
  background-color: #f2f2f2;
  color: #6f6f6f;
  font-weight: 900;
  border-radius: 1px ;
  transition: box-shadow 0.5s;
  margin: 10px;
  border-radius: 3px;
}

.btn-red{
  font-weight: 600;
  background-color: #f52c25;
  color: white;
  margin: 4px 10px;
  padding: 1px 10px;
  border-radius: 2px;
}

.answer-container{
  height: 40%;
  padding: 40px;
  position: relative;
  border-top: rgba(128, 128, 128, 0.18) 1px solid;

  .loading{
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: image_url('load.gif');
    background: no-repeat image_url('load2.gif') rgba(220,220,220, 0.5) center;

  }
  .answer-wrapper {
    padding: 20px;
    .new_answer{
      .answer-box {
        width: 80%;
        height: 120px;
        resize: none;
      }
    }
  }

  .answer-btn{
    margin: 20px;
  }

  .best-answer-wrapper{
    overflow: hidden;
    font-size: 150%;
    margin: 5px 0px;
    padding: 20px 20px;
    font-family: "Swanse - Regular";
    background: #fff0b6;
    border: #c2c2c2 solid 1px;
    border-radius: 4px;
    .answer-votes-wrapper{

      .answer-votes {
        margin: 30px auto;
        margin-left: 15px;
      }
    }

    .answer-content-wrapper{
      margin-top: 30px;
      margin-left: 60px;
    }
    .answer-content{
      padding-bottom: 10px;
    }

  }

  .answers-wrapper{
    padding: 20px;


    .answer{
      margin: 5px 0px;
      padding: 20px 5px;
      font-family: "Swanse - Regular";
      border-bottom: rgba(128, 128, 128, 0.18) 1px solid;
      overflow: hidden;
      .answer-votes-wrapper{

        .answer-votes {
          margin: 30px auto;
          margin-left: 15px;
        }
      }

      .answer-content-wrapper{
        margin-top: 30px ;
        margin-left: 60px;
      }
      .answer-content{
        padding-bottom: 10px;
      }
    }
  }
}




/* flashes */
.flash{
  padding: 10px 5px;
  border: 1px solid;
  border-radius: 5px;
  font-weight: 500;
}

.flash-danger{
  background-color: #ffBBBB;
  border-color: #ff3232;
  color: #B82222;
}

.flash-message{
  background-color: #DDDDff;
  border-color: #C1C1ff;
  color: #5555b8;
}

.flash-success{
  background-color: #BBffBB;
  border-color: #22b822;
  color: #126512;
}


/* misc */

.small-user{
  margin: 20px;
  padding: 20px;
  border-bottom: solid 1px #c2c2c2;
  vertical-align: middle;
}
.small-avatar{
  height: 40px;
  width: 40px;
}

.medium-avatar{
  height: 100px;
  width: 100px;
  vertical-align: middle;
  margin-right: 20px;
}

.vertical-middle{
  vertical-align: middle;
}

.error-explanation{
  padding: 20px 40px;
  background-color: #ffBBBB;
  border-color: #ff3232;
  color: #3C3C3C;
  border-radius: 4px;
}

.delete-image{
  height: 80%;
  width: 80%;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

.circle{
  height: 13px;
  width: 13px;
  line-height: 13px;
  color: white;
  border-radius: 50%;
  background-color: #f42a3a;
  text-align: center;
  font-size: 10px;
  float: left;
  margin-right:2px ;
}

.super-link{
  font-family: "Unna - Bold Italic";
  width: auto;
  padding: 10px 0px;
  font-size: 28px;
  text-decoration: underline;
  &:visited{
    color: inherit;
  }
}
.hidden{
  display: none;
}

.show{
  display: inherit;
}



br{
  border: solid 5px #666666;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.formatt-link{
  text-decoration: none;
  color: #717171 !important;
  font-weight: 100 !important;
  font-size: 90%;
  &:visited{
    color: inherit;
  }
  &:hover{
    text-decoration: underline;
  }

}

.bold{
  font-weight: 800;
}
.not-important{
  font-size: 80%;
  color: #717171;
  overflow: hidden;
  &:visited{
    color: #717171;
  }
}

.link-list{
  .link-listitem{
    padding: 10px;
    padding-bottom: 30px;
    margin: 30px 40px;
    color: cornflowerblue;
    border-bottom: 1px solid $question-grey;
  }
}

/* forum stuff */
.topics-container{
  width: 100%;
  background-color: ivory;
  height: auto;
  min-height: 720px;
  padding: 40px;
  margin: 10px auto;
  align-content: center;
  overflow: hidden;
  
  .topics-table{
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;
    border-collapse: collapse;
    thead{
      background-color: $accent-color-light;
      width: 100%;
      color: $accent-color-border;
      tr{
        border: 1px solid $question-grey;
        color: ivory;
      }
    }

    tbody{
      tr{
        td{
          padding: 5px 20px;
          margin: 0;
          border: solid 1px $question-grey;
        }
      }

      tr:nth-child(even){
        background-color: #e7e7e7
      }
    }
  }
}


/* form input stuff */
label{
  margin: 10px;
  display: block;
}

.input, textarea{
  padding: 10px 20px;
  display: block;
  margin: 10px auto;
}

.input-text{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
  width: 75%;
}

input[type="text"],input[type="password"],input[type="email"], textarea{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
  width: auto;
  padding: 10px 20px;
  margin: 10px;
}

.input-text-area{
  width: 75%;
  display: block;
  height: 200px;
}

textarea{
  width: 75%;
  display: block;
  height: 200px;
}

form{
  display: block;
  width: 75%;
}

/* side navigation stuffs */
.side-nav{
  background-color: white;
  float: right;
  width: 25%;
  padding: 10px;
  min-height: 60%;

  .side-recent-questions{
    margin: 20px 0;
    overflow: hidden;

    .side-nav-title{
      margin: 20px 0;
      text-decoration: underline;
    }

    .side-nav-content-wrapper{

      .side-nav-content{
        padding: 20px 0;
        border-bottom: 1px solid $question-grey;
        .side-vote{
          margin-right: 10px;
        }
      }
    }
  }

  .side-nav-title{
    margin: 20px 0;
    text-decoration: underline;
    color: #CCCCCC;
    font-weight: 600;
  }
}

.side-bar{
  color: dodgerblue;
}



.scope{
  overflow: hidden;
  margin: 0 auto;
  width: $page-width;
  background-color: white;
  margin-top: 80px;
  padding: 0 10px;
}

.arrow-up{
  width:0;
  height:0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #CCCCCC;
}

.arrow-down{
  width:0;
  height:0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #CCCCCC;
}

.arrow-up-active{
  width:0;
  height:0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid $active;
}

.arrow-down-active{
  width:0;
  height:0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $active;
}

.search-button{
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.search-span{
  margin-top: 7px;
  padding: 0 10px;

}

.search-wrapper{
  width: 75%;
  display: initial;
  .input-text{
    width: 80%;
    display: initial;
  }
}

select{
  padding: 5px 15px;
  background-color: cornflowerblue;
  color: white;
  border: 0px;
  border-radius: 2px;
  font-weight: 600;
}

option{
  background-color: white;
  color: black;
}


.small{
  font-size: 75%;
}

.info{
  margin-top: 5px;;
  text-align: right;
  font-size: 80%;
  color: #717171;
  overflow: hidden;
}

.big-user-info{
  margin: 20px 0;

  div {
    margin-bottom: 20px;
  }

}

.info-wrapper{
  padding: 20px 40px;
  overflow: hidden;
  border-bottom: #CCCCCC 1px solid;
}

.other-info{
  margin:20px 0;
  padding-left: 20px ;
}

.about{
  height: 200px;
}

/* post stuffs*/

.post-admin{
  font-weight: 900;
  color: white;
  background-color: #126512;
  padding: 1px 5px;
  border-radius: 2px;
  &:after{
    content: '(forum-admin)';
  }
}
.post-table{
  margin: 0 auto;
  padding: 20px;
}
.post-wrapper{
  background-color: #f2f2f2;
  min-height: 800px;
  margin-top: 5px;
}

.breadcrumbs{
  margin-bottom: 2px;
  overflow: hidden;
}

.post-title{
  padding-bottom:10px;
  border-bottom: 2px #ffffff solid;
  margin-bottom: 30px;
  font-size: 120%;
}

.post-info{
  text-align: right;
  padding-bottom: 30px;
}
.reply-wrapper{
  overflow: hidden;
  min-height: 30px;
  font-size: 80%;
  padding-bottom: 15px;
  border-bottom: #CCCCCC 1px solid;
  margin-bottom: 15px;

}

.reply-content{
  min-height: 60px;
  width: 100%;
}

.signature {
  text-align: center;
  margin: 10px 0;
  font-family: "Unna - Italic";
  padding-bottom: 10px;
  border-bottom: 2px #ffffff solid;
}

.user-info-wrapper{
  text-align: center;
  width: 20%;
  padding-right: 10px;
  margin-right: 10px;
  border-right: #CCCCCC 1px solid;
}

.user-avatar{
  width: 100%;
  max-width:200px;
}

/* closing stuff */
.closing-explanation{
  border: solid 1px #c2c2c2;
  background-color: #f5ec95;
  padding: 10px 30px;
  border-radius: 3px;
}

/* notification stuff */
.notification{
  overflow: hidden;
  padding: 20px;
  margin: 10px 0;
  width: 75%;
  border-radius: 3px;
}

.notification-preview{
  margin: 20px;
  padding: 15px 10px;
  background-color: #e7e7e7;
}
.unseen{
  background-color: #d4dfe7;
}

.seen{
  background-color: #FAFAFA;
}

/* responsive stuff*/
@media (max-width: 827px) {
  .scope{
    width: 100%;
  }
  .topbar-list{
    display: inline-flex;
    float: none;
  }

  .logo{
    float: none;
  }
}

@media (max-width: 550px) {
  .side-nav{
    display: none;
  }

  .container{
    width: 100%;
    border: none;
  }
}

@media (max-width: 550px) {
  .container{
    margin: 0;
    padding: 0;
  }

  .scope{
    padding: 0;
  }
}