//$accent-color: cornflowerblue ;
$accent-color: #ffa841;
$page-width: 60%;
$question-grey: #F1F1F1;
@font-face {
  font-family: "ArchivoNarrow - Regular";
  src: font_url('ArchivoNarrow-Regular.otf') format("truetype");
}

@font-face {
  font-family: "Swanse - Regular";
  src: font_url('SWANSE__.TTF') format("truetype");
}

@font-face {
  font-family: "Unna - Bold Italic";
  src: font_url('Unna-BoldItalic.otf') format("truetype");
}

*{

  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;
}

body{
  background-color: #F7F7F7;
  margin: 0 auto;

}

#bar{
  background-color: $accent-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

/* for all ul in topbar */

#topbar{
  text-shadow: #CCCCCC;
  margin: 0 auto;
  background-color: $accent-color;
  font-weight: 900;
  z-index: 9998;
  width: $page-width ;
  overflow: hidden;

  a{
    display: block;
    height: 20px;
    width: 100px;
    padding: 10px;
    text-decoration: none;
    color: azure;
  }


  #logo{
    font-family: Courier;
    float: left;
    width: 35%;
    text-align: center;
    padding: 20px;
    font-weight: 900;
    font-size: 40px;
    color: #EFEFEF;
  }


  .topbar-list{
    list-style: none;
    float: right;
    border-bottom-color: #2E2F30 ;

    .topbar-listitem{
      float: left;
      padding: 10px;
      width: 26%;
      &:hover .account-list{
        visibility: visible;
        opacity: 1;
      }

      .account-list {
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: white;
        font-weight: 500;
        z-index: 9999;
        transition: opacity 0.5s;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
        width: 10%;
        list-style: none;
        .account-listitem{
          transition: background-color 0.5s, color 5s;
          &:hover {
            background-color: #666666;
            a {
              color: white;
            }
          }

          form{
            input{
              width: 95%;
            }
          }
        }

        #topbar-login{
          &:hover{
            background-color: white;
          }
        }

        a{
          color: #2E2F30;
          width: auto;
        }

      }
    }
  }


}

.footer-wrapper {
  margin: 0 auto;
  width: $page-width;
  footer {
    margin-top: 45px;
    padding-top: 5px;
    color: #2E2F30;
  }
}

.container{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  height: auto;
  min-height: 720px;
  width:$page-width;
  padding: 40px;
  margin: 10px auto;
  align-content: center;


  .page-title{
    font-size: 48px;
    color: #666666;
    padding: 20px;
    margin: 10px;
  }

  form{

    input{
      display: block;
      margin: 5px;
    }
  }

}

.topbar-login{
  padding: 4px;
  &:hover{
    background-color: white;
  }
  input{
    display: block;
    margin: 5px;
  }
}

.question-container{
  height: 50%;
  margin: 20px;
  .votes-container{
    width: 20%;
    height: inherit;
    display: inline-block;
  }
  .question-wrapper{
    height: inherit;
    display: inline-block;
    width: 60%;
    .question-title{
      font-size: 250%;
      font-weight: 900;
      font-family: "Unna - Bold Italic";
    }

    .question-content{
      background-color: $question-grey;
      padding: 5px;
      font-family: "Unna - Bold Italic";
    }
  }
}

.no-formatt{
  text-decoration: none;
}

.question-link{
  display: block;
  text-decoration: none;
  background-color: #ffda60;
  border: 1px solid #ffa841;
  padding: 20px;
  margin: 40px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  &:visited{
    color: inherit;
  }

  &:hover{
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.12), 0px 1px 16px rgba(0, 0, 0, 0.24);
  }

  .question-link-title{
    font-family: "Unna - Bold Italic";
    width: auto;
    padding: 10px 0px;
    font-size: 24px;
    &:hover{
      text-decoration: underline;
    }
  }

  .question-partial{
    font-family: "Unna - Bold Italic";
    background-color: ivory;
    padding: 10px;
  }
}
/* all buttons */


.btn{
  border-color: #BBBBBB;
  padding: 2px 4px;
  background-color: $accent-color;
  color: white;
  font-weight: 900;
  border-radius: 1px ;
  transition: box-shadow 0.5s;
  margin: 10px;
  &:hover{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);

  }
}

.btn-primary{
  border-color: #BBBBBB;
  padding: 2px 4px;
  background-color: $accent-color;
  color: white;
  font-weight: 900;
  border-radius: 1px ;
}

.answer-btn{
  border-color: #BBBBBB;
  padding: 2px 4px;
  background-color: $accent-color;
  color: white;
  font-weight: 900;
  border-radius: 1px ;
  margin: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.answer-container{
  height: 40%;
  padding: 40px;
  position: relative;

  .loading{
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: image_url('load.gif');
    background: no-repeat image_url('load.gif') rgba(220,220,220, 0.5) center;

  }
  .answer-wrapper {
    padding: 20px;
    .new_answer{
      .answer-box {
        width: 80%;
        height: 120px;
        resize: none;
      }
    }
  }

  .answer-btn{
    margin: 20px;
  }

  .answers-wrapper{
    padding: 20px;

    .answer{
      margin: 40px 0px;
      padding: 20px 5px;
      border: solid 1px ;
      border-color: #ffa841;
      background-color: khaki;
      font-family: "Swanse - Regular";
    }
  }
}



.hidden{
  display: none;
}

.show{
  display: inherit;
}

textarea{
  width:75%;
}

br{
  border: solid 5px #666666;
}
