<% provide :title, @field.name.camelcase + " questions" %>
<h1 class="page-title">Recent <%= @field.name.camelcase %> Questions </h1>
<% @questions.each do |question| %>
		<%= render(partial:'questions/question',locals:{:question => question,:field=> @field}) %>
<%end  %>