<% provide :title, "Add New Moderator" %>
<h1 class="Add New Moderator"></h1>
<input type="text" id="search"/>
<canvas class="hidden" id="results"></canvas>
<%= form_for @moderator do |f| %>
<% end %>