<br/>
<footer id="footer" class="footer">
HiveMind  ©<%= Time.now.year %>
  <div class="right-footer">
	Created by
	<a href="http://twitter.com/donsavatia" class="author no-formatt " id="author">
	  Brian Savatia Keyonzo
	</a>
  </div>
</footer>

