<div id="topbar" class="topbar">
<%= link_to "HiveMind", root_url, class: "logo no-formatt", id: "logo" %>
  <ul>
	<li class="topbar-list">
	<%= link_to "About", static_pages_about_path, class: "topdar-links no-formatt" %>
	</li>
	<li class="topbar-list">
	<%= link_to "Help", static_pages_help_path, class: "topdar-links no-formatt" %>
	</li>
  </ul>
</div>